.main{
        display: flex;
        margin-left: 5%;
}
#details,#more-details{
    padding: 5px;
    margin-left: 5%;
}

.div-2{
    border: 1px solid black;
    width: 20%;
    height: 450px;
    padding: 10px;
}
.div-3{
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;
}  
iframe{
    border:none;
    overflow: hidden;
    width:850px;
    height: 400px;
} 