.container-fluid{
  background-color: #F8F9FA;
  box-sizing: border-box;

}
.main-content #bgimage{
  background-image: url('/Blog/img/bg-img.jpg');
  background-repeat: no-repeat;
  opacity: 55%;
  background-size: 100%;
  height: 100vh;
}
.main-content #bgimage h1,p{
  color: black;
  font-weight: bold;
}

a:hover {
  color: blue;
  cursor: pointer;
}
a {
  text-decoration: none;
}
a:active {
  color: rgb(226, 22, 22);
}

.story {
  position: absolute;
  top: 10%;
  left: 10%;
}
.story > h1 {
  font-size: 4.5vw;
  font-family: cursive;
  color: rgb(76, 75, 75);
}

.body-content,
.description {
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
}
.content-sub{
  margin-left: 8%;
  margin-right: 8%;
}
.content-sub h1{
  color: rgb(218, 140, 37);
}
.content-sub li{
  color: rgb(11, 25, 25);
  text-indent: 15px;
}
.about,
.description {
  color: blue;
  font-size: 3vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.about > .content {
  display: flex;
  direction: ltr;
  position: static;
}
.blog-img {
  margin-top: 2%;
}
.blog-img img {
  width: 26vw;
  border-radius: 35px;
  box-shadow: 4px 4px 12px 12px white;
}
.content-text {
  margin-left: -5%;
  border: none;
  box-shadow: 7px 9px 8px rgb(66, 63, 63);
  font-size: 1.3vw;
  background-color: white;
  padding: 7%;
  text-indent: 50px;
  color: rgb(62, 61, 61);
  text-align: justify;
  line-height: 2.2vw;
}
hr {
  width: 25%;
  text-align: center;
  color: blueviolet;
}
.how-it-works {
  /*  */
}
.box-content {
  box-shadow: 7px 9px 8px rgb(66, 63, 63);
  background-color: white;
  padding: 20px;
}
td {
  padding: 10px;
  text-align: left;
}
.box {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4vh;
}
.box h1 {
  color: blue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.cont-2 {
  margin-left: 15%;
  margin-right: 10%;
}
/* footer-start */
footer {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
.contact {
  color: blue;
  font-size: 2.2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.content-form {
  text-align: left;
}
.form-cont {
  display: flex;
}
.col-3 {
  margin-top: -5%;
}
.col-3 label {
  font-size: 1vw;
  color: rgb(59, 59, 59);
}
#submit-btn {
  padding: 10px;
  font-size: 1.6vw;
  width: 60%;
  background-color: #fd8369;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  color: white;
}
#submit-btn:hover {
  color: black;
  background-color: #f3380e;
}

.form {
  border: none;
  background-color: rgb(230, 225, 225);
  text-decoration-line: underline;
  text-decoration-color: rgb(176, 177, 177);
  padding: 3px 3px 3px 0px;
  font-size: 2vw;
  color: rgb(15, 128, 228);
}

.end {
  bottom: 0;
  color: rgb(71, 70, 70);
  font-size: 0.6em;
  text-align: center;
}
/* footer - end */

/* ************************************* */

.tutoring-content {
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
}

.subjects-iframe {
  height: 40vw;
  border: none;
}
.subjects {
  height: 100%;
  background-color: white;
  width: 100%;
}
/* quiz */
.quiz p{
  margin-left: 20%;
  margin-right: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5vh;
}
